* {
    box-sizing: border-box;
}

ul {
    list-style: none;
    text-align: center;
    padding-right: 40px;
}

a {
    color: #ff8400;
    font-family: 'Bangers', cursive;
    font-size: 30px;
}

input, button, select {
    padding: 3px;
    margin: 5px;
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 190px;
    margin: auto;
    margin-top: 20px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#logotext {
    text-align: center;
    padding-top: 10px;
}

#logobar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

#leefgebiedinput {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;

}